.why-us {
    margin-top: 80px;
}
.why-us h3 {
    color:  #2bde8c !important;
    margin-bottom: 2rem;
}
.why-us img {
    margin-bottom: 2rem;
}
.why-us h5 {
    margin-bottom: 0.5rem;
}
.why-us p {
    color: #a1a1a1 !important;
}