.dashboard-main {
    margin-left: 35px;
    margin-right: 20px;
}
.dashboard {
    background-color: #f4f7fc;
}
.dashboard table {
    width: 100%;
}
.table-container {
    background-color: #fff;
    border-radius: 10px;
}
th, td {
    padding: 10px 15px !important;
}
@media(max-width: 992px) {
    .dashboard-main {
        margin: 0;
    }
    .dashboard-container h6 {
        text-align: center;
        background-color: #f4f7fc;
        font-size: 20px;
        padding-top: 30px;
    }
}