.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 13px !important;
    color: black !important;
    background-color: #fff !important;
    padding: 7px 10px !important;
    border-radius: 50px !important;
    font-weight: bold;
}
.swiper-pagination {
    display: none;
}
